/* Dashboard.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .Dashboard-header {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .Dashboard-header h2 {
    margin-bottom: 10px;
    color: #3498db;
  }
  
  .Dashboard-header p {
    color: #333;
  }
  
  .Dashboard-header a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .Dashboard-header a:hover {
    color: #2980b9;
  }
  
