/* Register.css */

.Register-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
}

.Register-header {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 2.5px #6c757d;
  border: 1px solid #6c757d;
}

h1 {
  text-align: center;
  font-weight: bold;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

buttonRegister {
  width: calc(90% - 6px); /* Espaçamento entre os botões */
  padding: 12px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}

buttonLogin {
  width: calc(90% - 6px); /* Espaçamento entre os botões */
  padding: 12px;
  background-color: #fff;
  color: #343a40;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}

buttonRegister:hover {
  background-color: #212529;
}

.Buttom-Return-Login:hover {
  color: #212529;
}
